<div class="background-text">
  <h2><a href="/selectRoom">&lt; Back</a></h2>
  <h2 *ngIf="currentRoom">Room: {{currentRoom.readableName | uppercase}}</h2>
</div>

<div style="text-align: right; display: none;">
  <gyukbox-chat-applet></gyukbox-chat-applet>
</div>

<div style="text-align: center">
  <gyukbox-video-player
    [playNext]="playNext"
    (playerLoaded)="playerLoaded()"
  ></gyukbox-video-player>
  <div class="background-text">
    <h3>Now Playing:</h3>
    <h2>{{videoTitle}}</h2>
  </div>
</div>

<button (click)="openSearch()">Add Song</button>
<div id="queue-list">
  <ol>
    <li *ngFor="let song of currentQueue">{{song.songTitle}} ({{song.songLength / 60000}}:{{song.songLength % 60000}})</li>
  </ol>
</div>

<gyukbox-search *ngIf="searchOpen" (songAdded)="addVideo($event)"></gyukbox-search>
